@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@400;700&display=swap");

* {
  font-family: "Grandstander", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --gray:rgb(200,200,200);
  --yellow: #f5e050;
  --offwhite:#D3D3D3;
  --btncolor:darkkhaki;
  --footercolor:rgba(12,12,12,0.8);
  
}
body {
  background-image: url("yoda.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.heading {
  
  padding: 2rem 0;
  
}
h1 {
  padding-left: 2rem;
  text-align: left;
  color: var(--gray);
  font-size:3rem;
  text-shadow:2px 2px 3px;
}
.container {
  width: 45%;
  margin: 5vh  4vw;
}
#text-input {
  display: block;
  font-size: large;
  
  height: 8rem;
  width: 80%;
  border: 1px solid black;
  padding: 1rem;
  resize: none;
  background-color: var(--offwhite);
  
  box-shadow: 3px 3px 5px black; 
}


p {
  color: white;
}
#output {
  padding: 16px 16px 16px 5px;
  box-sizing: border-box;
  background-color: var(--offwhite);
  
  box-shadow: 3px 3px 5px black;
  border: 2px solid black;
  width: 80%;
  height: 8rem;
  margin-top: 5px;
}
#translate-btn {
  padding: 1rem;
  display:block;
  background-color:var(--btncolor);
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
  margin: 1rem 4rem;
  font-size: 1rem;
  cursor: pointer;
}
#translate-btn:hover {
  box-shadow: 3px 3px 5px black;
  font-weight: bold;
  transition: box-shadow 500ms, font-weight 250ms;
}
.center {
  width: 40%;
  padding: 1rem;
 
  
}
footer{
  background-color: var(--footercolor);
  margin: 0;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top: 2px solid black;
  color:  white;
  text-align:center;
  margin-top:1rem;
  
}


.links{
  display:inline-block;
  padding-right:2.5rem;
  font-size:2rem;
  color:white;
}


